@model IEnumerable<DatabaseLayer.Models.ParentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageFileUrl.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentPostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageFileUrl.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentPostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParentId })
        </td>
    </tr>
}

</table>
